.container {
  margin: 90px 60px 87px 65px;
  border: 1px solid grey;
  border-radius: 30px;
  width: 1315px;
  height: 937px;
  display: grid;
  /* grid-template-columns: 30% 30% 30% 10%; */
  grid-template-rows: auto;
  grid-template-areas: 
    "headline headline headline headline"
    "filters filters . removeFiltersButton"
    "cards cards cards cards";
    background-color: black;
    color: #fff;
}

.headline {
  grid-area: headline;
  width: 565px;
  height: 44px;
  margin: 35px 693px 24px 57px;
}

.filters {
  grid-area: filters;
  margin: 0px 78px 40px 57px;
  display: flex;
  gap: 16px 8px;
  flex-wrap: wrap;
} 

.filterItem {
  height: 18px;
  border: 1px solid #fff;
  height: 40px;
  
}

.removeFiltersButton {
  grid-area: removeFiltersButton;
  margin: 24px 58px 95px 64px;
  width: 82px;
  height: 83px;
  border: 1px solid #fff;
}

.cards {
  grid-area: cards;
  margin: 0px 60px 58px 55px;
  display: flex;
  gap: 69px 59px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardBody {
  width: 248px;
  height: 204px;
  background-color: #fff;
}